.navigationbar {
    text-align: right;
    right: 10%;
    position: absolute;
    top: 70px;
    padding: 30px;
    text-decoration: none;
    display: inline-block;
}

.navigationbar ul {
    text-align: center;
    text-decoration: none;
    color: #808080;
    display: inline-block;
    
    
}

.navigationbar li {
    display: inline-block;
    padding: 50px;
    font-size: 28px;
    text-decoration: none;
    font: Helvetica;
    font-variant: small-caps;
    font-weight: lighter;
    color: #808080;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

.title-header img {
    position: absolute;
    left: 10%;
    top: 0;
    width: 20%;
    height: auto;
    padding-top: 30px;
}

.title-header-blog {
    position: relative;
    left: 30%;
    top: 100px;
    padding: 30px;
    display: inline-block;
    
}

a:link {
    text-decoration: none;
    color:#808080; 
}

a:visited {
    text-decoration: none;
    color:#808080; 
}

a:hover {
    text-decoration: none;
    color: #5ca4a9;
}

.leftsection div {
    font-size: 60px;
    font-family: Helvetica;
    font-variant: small-caps;
    text-align: center;
    left: 10.5%;
    padding-top: 100px; 
    position: absolute;
    top:44%;
    color: black;
}

.leftsection img {
/*    padding: 30px;*/
    left: 10%;
    position: absolute;
    top: 20%;
}

.bottomsection .shoe1 img {
    left: 10%;
    padding: 30px;
    position: absolute;
    bottom: 10%;
}

.bottomsection .shoe2 img {
    left: 36.66667%;
    padding: 30px;
    position: absolute;
    bottom: 10%;
}
.bottomsection .shoe3 img {
    left: 63.3333367%;
    padding: 30px;
    position: absolute;
    bottom: 10%;
}

.middlesection article {
    position: absolute;
    border-bottom: 1px solid black;
    overflow: hidden;
    top: 25%;
    right: 10%;
    width: 60%;
    height: 30%;
    left: -10%;
}

.middlesection article p{
    font: Helvetica;
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 25px;
    color: black;
    padding: 5px;
}