.navigationbar {
    text-align: right;
    right: 10%;
    position: absolute;
    top: 70px;
    padding: 30px;
    text-decoration: none;
    display: inline-block;
}

.navigationbar ul {
    text-align: center;
    text-decoration: none;
    color: #808080;
    display: inline-block;
    
    
}

.navigationbar li {
    display: inline-block;
    padding: 50px;
    font-size: 28px;
    text-decoration: none;
    font: Helvetica;
    font-variant: small-caps;
    font-weight: lighter;
    color: #808080;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

.title-header img {
    position: absolute;
    left: 10%;
    top: 0;
    width: 20%;
    height: auto;
    padding-top: 30px;
}

.title-header-blog {
    position: relative;
    left: 30%;
    top: 100px;
    padding: 30px;
    display: inline-block;
    
}

a:link {
    text-decoration: none;
    color:#808080; 
}

a:visited {
    text-decoration: none;
    color:#808080; 
}

a:hover {
    text-decoration: none;
    color: #5ca4a9;
}
.bannerunderthenav {
    position: absolute;
    top: 200px;
            
}

.social media icons {
    display: inline-block;
}
.photo1 img {
    top: 50%;
    left: 30%;
    display: inline-block;
    position: absolute;
}

.photo2 img {
    top: 50%;
    left: 40%;
    display: inline-block;
    position: absolute;
}

.photo3 img {
    top: 50%;
    left: 50%;
    display: inline-block;
    position: absolute;
}

.photo4 img {
    top: 50%;
    left: 60%;
    display: inline-block;
    position: absolute;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 1em;
    color: white;
    background-color: #f7c0b9;
    clear: left;
    text-align: center;
    width: 100%;
}

article {
    position: absolute;
    margin-left: 1000px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    bottom: 250px;
    margin-right: 100px;
}

article p{
    font: Helvetica;
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 25px;
}