.navigationbar {
    text-align: right;
    right: 10%;
    position: absolute;
    top: 70px;
    padding: 30px;
    text-decoration: none;
    display: inline-block;
}

.navigationbar ul {
    text-align: center;
    text-decoration: none;
    color: #808080;
    display: inline-block;
    
    
}

.navigationbar li {
    display: inline-block;
    padding: 50px;
    font-size: 28px;
    text-decoration: none;
    font: Helvetica;
    font-variant: small-caps;
    font-weight: lighter;
    color: #808080;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

.title-header img {
    position: absolute;
    left: 10%;
    top: 0;
    width: 20%;
    height: auto;
    padding-top: 30px;
}

.title-header-blog {
    position: relative;
    left: 30%;
    top: 100px;
    padding: 30px;
    display: inline-block;
    
}

a:link {
    text-decoration: none;
    color:#808080; 
}

a:visited {
    text-decoration: none;
    color:#808080; 
}

a:hover {
    text-decoration: none;
    color: #5ca4a9;
}

.leftsidepicture img {
    width: 40%;
    position: absolute;
    left: 10%;
    top: 25%;
}

article {
    position: absolute;
    right: 10%;
    top: 30%;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    width: 30%;
    height: 10%;
}

article p{
    font: Helvetica;
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 25px;
    color: #808080; 
}

footer {
    position: absolute;
    bottom: 0;
    padding: 1em;
    color: white;
    background-color: #f7c0b9;
    clear: left;
    text-align: center;
    width: 100%;
}

.addtocartbutton {
    width: 5%;
    position: absolute;
    background-color: white;
    text-align: center;
    bottom: 40%;
    color: #ed6a5a;
    padding: 50px;
    right: 18%;
    font-family: Helvetica;
    font-size: 30px;
    font-variant: small-caps;
     border: 2px solid #ed6a5a;
}

.addtoblogbutton {
    width: 5%;
    position: absolute;
    background-color: white;
    text-align: center;
    bottom: 40%;
    color: #ed6a5a;
    padding: 50px;
    right: 30%;
    font-family: Helvetica;
    font-size: 30px;
    font-variant: small-caps;
    border: 2px solid #ed6a5a;
}

.addtocartbutton:hover {
    color:#808080;
}

.addtoblogbutton:hover {
    color:#808080;
}